[Unit]
Description=Elastic Search
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill elasticsearch-%i
ExecStartPre=-/usr/bin/docker rm elasticsearch-%i
ExecStartPre=/usr/bin/docker pull danielnbarbosa/elasticsearch
ExecStart=/usr/bin/docker run --rm --name elasticsearch-%i -p 9200:9200 danielnbarbosa/elasticsearch
ExecStop=/usr/bin/docker stop elasticsearch-%i

[X-Fleet]
Conflicts=elasticsearch@*.service
